<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Form </title>
    <link rel="icon"type="image/x-icon" href="{{ url_for('static', filename='seder.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='addstyle.css') }}">
</head>
<body>
   

        <label for="Plate">Plate <span>*</span></label>
        <input type="text" id="Plate" required>

        <label for="type">type <span>*</span></label>
        <input type="text" id="type" required>

        <label for="Product">Product<span>*</span></label>
        <input type="text" id="Product" required>

        <label for="Literst">Liters <span>*</span></label>
        <input type="text" id="Liters" required>

        <label for="Amount">Amount <span>*</span></label>
        <input type="text" id="Amount" required>

        <label for="Vehicle">Vehicle <span>*</span></label>
        <input type="text" id="Vehicle" required>

        <label for="Division">Division <span>*</span></label>
        <input type="text" id="Division" required>
        
        <label for="Branch">Branch <span>*</span></label>
        <input type="text" id="Branch" required>
        
        <label for="Dept">Dept <span>*</span></label>
        <input type="text" id="Dept" required>

        <label for="attachment">Attachment <span>*</span></label>
        <input type="file" id="attachment" required>

       


  
</body>
</html> 