<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrations License</title>
  <link rel="icon"type="image/x-icon" href="{{ url_for('static', filename='seder.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Regstyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='mainstyle.css') }}">
</head>
<body>

  <!-- Sidebar Section -->
  <div class="sidebar">
    <button class="icon">
      <a href="{{ url_for('user') }}">
      <img src="{{ url_for('static', filename='user.png') }}">
      </a>
    </button>

    <button class="icon">
      <a href="https://sedergroupsa-my.sharepoint.com/:u:/g/personal/rimisa_seder_sa/EQCHF21UnmVFvevRPV1EDQcB5wiRS5CGoykEWJlTtwc3gQ?e=nCdXNN" target="_blank">
      <img src="{{ url_for('static', filename='dashboard.png') }}">
    </a>
    </button>

  
    <button class="icon">
      <label for="upload-file">
          <img src="{{ url_for('static', filename='upload.png') }}">
      </label>
      <input type="file" id="upload-file" style="display: none;">
  </button>

    <button class="icon">
      <a href="{{ url_for('LicenseAdd')}}">
        <img src="{{ url_for('static', filename='plus.png') }}">
    </a>
    </button>

    <button class="icon">
      <a href="{{ url_for('logout') }}">
      <img src="{{ url_for('static', filename='logout.png') }}">
      </a>
    </button>
  </div>


  <div class="main-content">
    <h1 class="title">License</h1>
    <table>
            <tr>
                <th>License Type</th>
                <th>Issue Date</th>
                <th>Status</th>
                <th>Attachment</th>
            </tr>
    </table>
  </div>
  <div>
    <div class="search-form">
    <form method="POST" action="/search">
        <input type="text" name="query" placeholder="Search..." value="{{ query }}">
        <button type="submit">Search</button>
        <td><button type="submit" name="export">Export</button></td>
    </form>
    <ul>
        {% for item in data %}
            <li>{{ item.name }} ({{ item.category }})</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>