<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <link rel="icon"type="image/x-icon" href="{{ url_for('static', filename='seder.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='sliderst.css') }}">
  <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css>
</head>
</head>
<body>
  <div class="sidebar">
 
    <button class="icon">
      <img src="user.png" alt="User">
    </button>
 
    <button class="icon">
      <img src="dashboard.png" alt="Dashboard">
    </button>
 
    <button class="icon">
      <img src="upload.png" alt="Upload">
    </button>
 
    <button class="icon">
      <img src="plus.png" alt="plus">
    </button>
 
    <button class="icon">
        <img src="logout.png" alt="Logout">
    </button>
  </div>
 
  <div class="main-content">
    <div class="search-bar">
      <input type="text" placeholder="search ">
      <button class="search-button">
      </button>
      
    </div>
  </div>
</body>
</html>
