<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information</title>
  <link rel="icon"type="image/x-icon" href="{{ url_for('static', filename='seder.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">

</head>
<body>
    <div class="user-info">
        <h1>User Information</h1>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>
      </div>
      
</body>
</html>
