<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Form </title>
    <link rel="icon"type="image/x-icon" href="{{ url_for('static', filename='seder.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='addstyle.css') }}">
</head>
<body>
   

        <label for="Plate">Plate <span>*</span></label>
        <input type="text" id="Plate" required>

        <label for="Sector">Sector <span>*</span></label>
        <input type="text" id="Sector" required>

        <label for="InvoicesNo">InvoicesNo<span>*</span></label>
        <input type="text" id="InvoicesNo" required>

        <label for="Total Amount">Total Amount <span>*</span></label>
        <input type="text" id="Total Amount" required>

        <label for="Date">Date <span>*</span></label>
        <input type="text" id="Date" required>

        <label for="Supplier">Supplier <span>*</span></label>
        <input type="text" id="Supplier" required>


        <label for="attachment">Attachment <span>*</span></label>
        <input type="file" id="attachment" required>

       


  
</body>
</html> 